.cart-container img{
    width: 1000px;
    height: 500px;
    border-radius: 8px;
}
.cart-container label{
    color: darkgray;
}
.cart-container a{
    display: block;
    margin: 20px 0 5px 0;
}
.cart-container{
    margin: 50px 0 0 0;
}
.cart-dtl-container{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}
.cart-dtl-container button{
    display: block;
}

.cart-details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-details img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.name-registered{
    margin-left: 20px;
    font-size: 20px;
}
.name-registered h3{
    margin: 0;
}

.cart-button{
    border: 0;
    height: 45px;
    font-size: 22px;
    border-radius: 5px;
}

.last-atag{
    width: 100px;
}

.hr-line{
    width: 1000px;
    margin: 15px 0 10px 0;
}




.font-aws-icon{
    margin-left: 10px;
}